.mb-0 a{
            color:black
        }
        
		.app-table {
			text-align: left;
		}
		
        .card-block {
            padding: 10px;
            margin: 10px
        }
        
        .margin-right {
            margin-right:auto;
            margin-left:5px;
        }
		
		.margin-middle {
            margin-right:5px;
            margin-left:5px;
        }
        
        .margin-left {
            margin-left:auto;
            margin-right: 5px;
        }
        
        .margin-bottom-20 {
            margin-bottom: 20px;
        } 

        .margin-bottom-10 {
            margin-bottom: 10px;
        }
        
		.card-header {
			cursor: pointer;
		}
		
        .accordion .card-header:after {
            font-family: 'FontAwesome';  
            content: "\f068";
            float: right; 
			color: green;
        }
        
        .accordion .card-header.collapsed:after {
            /* symbol for "collapsed" panels */
            content: "\f067"; 
        }
        
        .image-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .max-width-100 {
          max-width: 100%;
        }

        .text-align-center {
          text-align: center;
        }

        .width-340 {
          width: 340px;
        }

        .width-500 {
          width: 450px;
        }

        .width-900 {
          width: 850px;
        }

        .margin-10 {
          margin: 10px;
        }

        .gray-border {
          border: 1px solid #ddd;
          border-radius: 25px;
        }

        .link-style {
          text-decoration: none;
          color:black;
        }

        .link-container {
          justify-content: space-around;
          display: flex;
        }
		
		a.white {
			color: white;
		}
		
		div {
			text-align: justify;
			text-justify: inter-word;
		}
		
		html code {
			text-align: left;
		}
		
		.clickable-row {
			cursor: pointer;
		}
